.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.NightMode {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.nightMode-btn {
  width: 100px;
  height: 50px;
  font-size: 24px;
  border-radius: 8px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.search-bar {
  width: 200px;
  border-radius: 80px;
  height: 25px;
  margin: 10px;
}

.search-bar-label {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.add-car {
  width: 200px;
  height: 35px;
  border-radius: 40px;
  background: beige;
  cursor: pointer;
  margin-bottom: 10px;
}

.delete-car {
  width: 200px;
  height: 35px;
  border-radius: 40px;
  background: red;
  cursor: pointer;
}
